#FRONTEND_URL=https://rp-news.beast-x.xyz
#BACKEND_URL=https://rp-api.beast-x.xyz
FRONTEND_URL=https://news.beast-x.xyz
BACKEND_URL=https://api.beast-x.xyz
FRONTEND_PORT=3001
BACKEND_PORT=5001
MONGO_PORT=27018